{% extends "base.html" %}
{% block content %}
<br/><br/>
<h2 dir="ltr">
    Регистрация пользователя
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            POST-запрос (/api/registration)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            запрос: {"username": имя пользователя, "email": почта, "password":
            пароль}
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            ответ: {"message": "Registration successful!"}
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Авторизация пользователя
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            POST-запрос (/api/login)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            запрос: username:password (HTTPBasicAuth)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            ответ: {"token": токен}
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Список пользователей
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            POST-запрос (/api/users)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            ответ: "users": [{"email": почта, "user_id": id пользователя,
            "username": имя пользователя}]
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Текущий пользователь
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            POST-запрос (/api/currentuser)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            заголовок запроса: "Content-Type: application/json",
            "x-access-tokens: токен"
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            ответ: {"message": "имя пользователя"}
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Создание объекта
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            POST-запрос (/api/additem)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            заголовок запроса: "Content-Type: application/json",
            "x-access-tokens: токен"
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            запрос: {"name": имя объекта}
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            ответ: { "message": "New item created!"}
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Удаление объекта
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            DELETE-запрос (/api/delitem)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            заголовок запроса: "Content-Type: application/json",
            "x-access-tokens: токен"
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            запрос: {"name": имя объекта}
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            ответ: {'message': ''Item deleted!"}
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Получение списка объектов
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            POST-запрос (/api/items)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            заголовок запроса: "x-access-tokens: токен"
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            ответ: "list_of_items": [{"id": id объекта, "name": имя объекта
            ,"user_id": id пользователя}]
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Генерация ссылки для передачи объекта
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            POST-запрос (/api/send)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            заголовок запроса: "Content-Type: application/json",
            "x-access-tokens: токен"
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            запрос: {"name": имя объекта, "receiver_name": имя
            пользователя-получателя}
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            ответ: {"item_token": токен-объекта}
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Переход по ссылке для получения объекта
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            POST-запрос (/api/get)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            заголовок запроса: "Content-Type: application/json",
            "x-access-tokens: токен"
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            запрос: {"tokenit": токен-объекта}
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            ответ: {"message": "Item transfer successfull!"}
        </p>
    </li>
</ul>

{% endblock %}