<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>BootCamp-Flask by DarkFess</title>
    {% endif %}
</head>
<body>
    <div class="nav">
        <div>
            <ul>
                <li><a href="/">ReadME</a></li>
                <li><a href="/homework">HomeWork</a></li>
                <li><a href="/api">API-spec</a></li>
                <li><a href="/cheatsheet">Cheats</a></li>
            </ul>
        </div>

        <div>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="/account">Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="content">
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>