{% extends "base.html" %}
{% block content %}
<br/><br/>
<h2 dir="ltr">
    Регистрация пользователя
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            curl -i -H "Content-Type: application/json" -X POST -d
            "{\"username\":\"tester1\",\"email\":\"tester1@darkfess.ru\",\"password\":\"tester1\"}"
            <a href="http://127.0.0.1:5000/api/registration">
                http://127.0.0.1:5000/api/registration
            </a>
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Авторизация пользователя
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            curl -u tester1:tester1
            <a href="http://127.0.0.1:5000/api/login">
                http://127.0.0.1:5000/api/login
            </a>
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            set token=токен
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Список пользователей
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            curl -i
            <a href="http://127.0.0.1:5000/api/users">
                http://127.0.0.1:5000/api/users
            </a>
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Текущий пользователь
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            curl -i -H "Content-Type: application/json" -H "x-access-tokens:
            %token%" -X POST
            <a href="http://127.0.0.1:5000/api/currentuser">
                http://127.0.0.1:5000/api/currentuser
            </a>
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Создание объекта
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            set name=test-item-1
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            curl -i -H "Content-Type: application/json" -H "x-access-tokens:
            %token%" -X POST -d "{\"name\":\"%name%\"}"
            <a href="http://127.0.0.1:5000/api/additem">
                http://127.0.0.1:5000/api/additem
            </a>
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Удаление объекта
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            set name=test-item-1
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            curl -i -H "Content-Type: application/json" -H "x-access-tokens:
            %token%" -X DELETE -d "{\"name\":\"%name%\"}"
            <a href="http://127.0.0.1:5000/api/delitem">
                http://127.0.0.1:5000/api/delitem
            </a>
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Получение списка объектов
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            curl -H "x-access-tokens: %token%"
            <a href="http://127.0.0.1:5000/api/items">
                http://127.0.0.1:5000/api/items
            </a>
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Генерация ссылки для передачи объекта
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            set name=test-item-1
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            set receiver=tester2
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            curl -i -H "Content-Type: application/json" -H "x-access-tokens:
            %token%" -X POST -d
            "{\"name\":\"%name%\",\"receiver_name\":\"%receiver%\"}"
            <a href="http://127.0.0.1:5000/api/send">
                http://127.0.0.1:5000/api/send
            </a>
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            set tokenit=токен-объекта
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Переход по ссылке для получения объекта
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            curl -u tester2:tester2
            <a href="http://127.0.0.1:5000/api/login">
                http://127.0.0.1:5000/api/login
            </a>
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            set token=токен
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            curl -i -H "Content-Type: application/json" -H "x-access-tokens:
            %token%" -X POST -d "{\"tokenit\":\"%tokenit%\"}"
            http://127.0.0.1:5000/api/get
        </p>
    </li>
</ul>
<br/>
<br/>

{% endblock %}