{% extends "base.html" %}
{% block content %}
<br/><br/>
<h2 dir="ltr">
    Краткое описание задачи
</h2>
<p dir="ltr">
    Задание заключается в реализации простого API для управления сущностями
    (create, delete, read) и API для логики по передаче объектов между
    пользователями.
</p>
<p dir="ltr">
    Есть два списка сущностей - пользователи (users / атрибуты: логин, пароль)
    и объекты (items / атрибуты: название объекта)
</p>
<p dir="ltr">
    Они связаны с собой отношением "один ко многим" (пользователь имеет
    несколько объектов, объект привязан к одному пользователю).
</p>
<br/>
<h2 dir="ltr">
    Задача включает в себя следующее
</h2>
<ol>
    <li dir="ltr">
        <p dir="ltr">
            Реализовать API для регистрации пользователя: логин, пароль. Логин
            и пароль могут передаваться в открытом виде
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Реализовать API для авторизации пользователя и получения временного
            токена. Логин и пароль могут передаваться в открытом виде
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Реализовать API для создания и удаления объектов у пользователя, а
            также получение списка объектов (для определения пользователя -
            дополнительным параметром передается токен)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Реализовать API для передачи объекта другому пользователю. Работать
            это должно следующим образом:
        </p>
    </li>
</ol>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            передающий пользователь отправляет запрос с id объекта и логин
            пользователя, которому он передает этот объект
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            в ответ он получает ссылку подтверждения, по которой должен перейти
            принимающий пользователь (и только он, принадлежность определяется
            по токену, который также передается дополнительным параметром).
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            при корректной обработке объект должен быть перепривязан от
            передающего пользователя к принимающем
            <br/>
        </p>
    </li>
</ul>
<br/>
<h2 dir="ltr">
    Обратить внимание
</h2>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Формат для всех HTTP-запросов и ответов API: JSON
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Корректное решение поставленной задачи
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Общая архитектура приложения, выбранный стек технологий
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Корректная обработка ошибок (коды и сообщения)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Наличие спецификации API и тестов
        </p>
    </li>
</ul>
<br/>
<p dir="ltr">
    Основной стек - Python 3.x, используйте также flask.
</p>
<p dir="ltr">
    В качестве хранилища можно выбрать любую удобную базу данных.
</p>
<p dir="ltr">
    Для ведения разработки желательно использовать любой открытый ресурс с VCS
    git (github, bitbucket и пр.)
</p>
<br/>
<br/>
<br/>



{% endblock %}