{% extends "base.html" %}
{% block content %}
    <div>
        <ul>
            <!-- с помощью проекта ZERO-MD https://zerodevx.github.io/zero-md/ загружаем наш README.md файл на главную страницу проекта -->
            <!-- оригинальные комментарии оставлю.. -->
            <!-- Lightweight client-side loader that feature-detects and load polyfills only when necessary -->
            <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>
            <!-- Load the element definition -->
            <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
            <!-- Simply set the `src` attribute to your MD file and win -->
            <!-- из-за ошибки CORS, не могу загрузить файл напрямую с репы gitlab.com, поэтому загружаю локальный README.md и пребразую его в HTML-вид -->
            <zero-md src="http://127.0.0.1:5000/README.md">
                <!-- Wrap with a <template> tag -->
                <template>
                    <!-- Define your own styles inside a `<style>` tag -->
                    <style>
                    .nav {
                        background-color: coral;
                    }

                    .nav > div {
                        display: inline-block;
                    }

                    .nav ul li {
                        display: inline-block;
                        width: 100px;
                    }

                    .data_label {
                        width: 100px;
                        height: 30px;
                        color: grey;
                    }

                    .data_input {
                        width: 100px;
                        height: 30px;
                        background-color: azure;
                    }

                    .success {
                        color: green;
                    }

                    .error {
                        color: red;
                    }
                    </style>
                </template>
            </zero-md>

        </ul>
    </div>
{% endblock %}
